.icons__font {
  display: inline-block;
  font-size: 63px;
  color: $pink;
  transition: color 0.5s linear;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: (-20px) -30px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 187px;
    box-sizing: border-box;
    padding: 20px 30px;

  }

  &__description {
    margin-top: 5px;
  }
}

.icons__item:hover .icon{
  animation: shake 0.65s linear;
  color: #000;
}

@keyframes shake{
  25% {
    transform:  rotate(45deg);
  }
  50% {
    transform:  rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 800px) {

  .icons__item {
    width: 25%;
  }
}
@media (max-width: $breakpoint-mobile) {
  .icons {
    margin: (-20px) -10px;
  }
  .icons__item {
    width: 50%;
    //margin: 20px 0;
    //margin: 0;
    padding: 20px 10px;
    //justify-content: space-between;
  }

  .icons__font {
    font-size: 45px;
  }
}
