.cards {
  margin: (-20px) 0;
  display: flex;

  &__card-item {
    margin: 20px 8px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(207, 207, 207, 0.3);
    border-radius: 2px;
  }

  &__description-wrap {
    margin: 40px 24px;
  }

  &__list-item {
    margin: 5px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 24px;
  }

  &__img {
    @extend %responsive-image
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-dots {
  bottom: -6px;
}

.slick-dots li.slick-active button:before {
  background: $pink;
  opacity: 1;
}

.slick-dots li {
  height: 6px;
  width: 6px;
}

.slick-dots li button {
  height: 6px;
  width: 6px;
  padding: 0;
}

.slick-dots li button:before {
  width: 6px;
  height: 6px;
  @extend %circle;
  content: "";
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  opacity: 1;
}

.slick-dotted.slick-slider {
  margin-bottom: 6px;
}

@media (min-width: $breakpoint-tablet) {
  .slick-dots {
    display: none !important;
  }
}


@media (max-width: $breakpoint-mobile) {
  .slick-track {
    left: (-34px) !important;
  }

  .cards {
    margin: (-20px) -16px -20px 0;

    &__card-item {
      margin: 20px 6px;
    }
    &__title {
      margin-bottom: 16px;
    }
    &__description-wrap {
      margin: 32px 16px;
    }
  }

}
