.footer {
  padding: 32px 0;
  background-color: $dark-background;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: #fff;
  }

  &__copyright {
    @include font-properties(normal, 16px, 153.4%);

    color: #FFFFFF;
  }
}
